.button{
  background-color:#DC030F ;
  color: white;
  border-radius: 10px;
}
.btn{
    color: white;
    border: none;
    font-size: 20px;
    background-color: #DC030F;
    border-radius: 10px;
}
.button:hover{
    background-color: #b8020c
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}
.page{
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.page_1{
    background-image: url();
}

